.intro-container {
  background: linear-gradient($pastel-color-0, $pastel-color-0);
  // background: $pastel-color-0;
}
.intro {
  background: linear-gradient($pastel-color-0, $pastel-color-1);

  //   background: transparent;
  //   background: $pastel-color-0;
}

.intro-text {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}
.diagonal-box {
  position: relative;
  width: $width;
  transform: skewY($angle);
  padding: $skew-padding 0;
  margin-top: -1px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: skewy($angle);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
  }
}

.content {
  max-width: $width;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  transform: skewy(-$angle);

  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
  border: 2px dashed #fff8;
}

.diagonal-box-normal {
  position: relative;
  width: $width;
  // transform: skewY(-$angle);
  padding: $skew-padding 0;
  margin-top: -1px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    // transform: skewy($angle);
    transform-origin: 50% 0;
    outline: 1px solid transparent;
    backface-visibility: hidden;
  }
}

.content-normal {
  max-width: $width;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
  // transform: skewy(-$angle);

  /* -----------
  enable the border to see, that the content
  perfectly fits into the section withou
  bleeding into the adjecting areas:
  ------------ */
  border: 2px dashed #fff8;
}
