// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar-container {
  position: relative;
  display: inline-block;
}
.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}

// .dropdown {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 300px;
//   z-index: 2;
//   border: 1px solid rgba(0, 0, 0, 0.04);
//   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
// }

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

// body {
//   font-family: sans-serif;
// }

// .container {
//   position: relative;
// }

// .display {
//   position: relative;
//   z-index: 1;
//   width: 120px;
//   height: 40px;
//   background-color: #5a564c;
//   border: none;
//   border-radius: 5px;
//   outline: none;
//   cursor: pointer;
//   transition: background-color 350ms;
// }

// .display:active {
//   background-color: #000000;
// }

.list-body {
  position: absolute;
  //   top: 45px;
  z-index: 2;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 20px;
  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
}

// .list {
//   padding: 0;
//   list-style-type: none;
// }

// .list-item {
//   padding: 5px 0;
// }

// .list-item--active {
//   color: blue;
//   transition: color 1500ms;
// }

// /* This fires as soon as the element enters the dorm */
// .list-transition-enter,
// .list-transition-appear {
//   /*We give the list the initial dimension of the list button*/
//   top: 0;
//   width: 120px;
//   max-height: 40px;
//   color: transparent;
//   background-color: #5a564c;
// }
// /* This is where we can add the transition*/
// .list-transition-enter-active,
// .list-transition-appear-active {
//   top: 45px;
//   width: 200px;
//   max-height: 200px;
//   background-color: #9e8949;
//   transition: all 400ms;
// }

// /* This fires as soon as the this.state.showList is false */
// .list-transition-exit {
//   top: 45px;
//   width: 200px;
//   max-height: 200px;
//   background-color: #9e8949;
// }
// /* fires as element leaves the DOM*/
// .list-transition-exit-active {
//   top: 0;
//   width: 120px;
//   max-height: 40px;
//   color: transparent;
//   background-color: #5a564c;
//   transition: all 400ms;
// }

.navbar-top {
  width: 100vw;
  display: flex;
  position: relative;
  z-index: 10;
  justify-content: flex-end;
  background: linear-gradient(
    0.25turn,
    $pallet-color-0,
    $pallet-color-1,
    $pallet-color-2
  );
}

.navbar-dropdown {
  position: relative;
  z-index: 0;
}

.example-enter {
  opacity: 0;
  z-index: 1;

  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
  transform: translateY(-100%);
}
.example-enter-active {
  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
  opacity: 1;
  z-index: 1;

  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.example-exit {
  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
  opacity: 1;
  z-index: 1;

  transform: translateY(0);
}
.example-exit-active {
  opacity: 0;
  z-index: 1;

  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}
