.navbar-container {
  position: relative;
  display: inline-block;
}

.navbar-top {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
  background: linear-gradient(
    0.25turn,
    $pallet-color-0,
    $pallet-color-1,
    $pallet-color-2
  );
}

// Dropdown Menu
// -----------------------------------------------------------------------------
.navbar-dropdown {
  position: relative;
  z-index: 0;
}
.list-body {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  width: 100vw;
  background: linear-gradient(
    0.25turn,
    $pastel-color-0,
    $pastel-color-1,
    $pastel-color-2
  );
}
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-list > li {
  padding: 8px 12px;
}
.navbar-list > li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

// CSSTransition
// -----------------------------------------------------------------------------
.example-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.example-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
.example-exit {
  opacity: 1;
  transform: translateY(0);
}
.example-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}
